{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid mb-3">
        <h1>Liste des utilisateurs</h1>
        {{ include('front/_notice_message.html.twig') }}

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{ path('app_admin_user_new') }}" class="btn btn-success">Ajouter un utilisateur</a>
        </div>

        <table id="user_table" class="user_table table table-hover align-middle" style="text-align:center; margin-top:10px;">
            <thead class="table-dark ">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Actif / Inactif</th>
                    <th scope="col">Créer le</th>
                    <th scope="col">Mis à jour le</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr scope="row">
                    <td>{{ user.id }}</td>
                    <td><a href="{{ path('app_admin_user_show', {'id': user.id}) }}">{{ user.email }}</a></td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.status ? 'Actif' : 'Inactif' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('d-m-Y à H:i:s') : '' }}</td>
                    <td>{{ user.updatedAt ? user.updatedAt|date('d-m-Y à H:i:s') : '' }}</td>
                    <td>
                        <div class="d-grid gap-2 justify-content-md-center">
                            <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
                            {{ include('admin/user/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun utilisateur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ include('_paginate.html.twig') }}
    </div>
    
{% endblock %}
