{% extends 'base.html.twig' %}

{% block title %}Utilisateur {{ user.email }}{% endblock %}

{% block body %}
    <div class="container-fluid mb-3">
        <h1>Utilisateur {{ user.email }}</h1>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{ path('app_admin_user_index') }}"  class="btn btn-outline-secondary btn-sm">Retourner à la liste</a>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Rôle</th>
                    <td>{{ user.role.name }}</td>
                </tr>
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ user.postalCode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ user.city }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ user.status ? 'Actif' : 'Inactif' }}</td>
                </tr>
                <tr>
                    <th>Créé le</th>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-primary mb-2">Modifier</a>

    </div>
{% endblock %}
