{% extends 'base.html.twig' %}

{% block title %}YourQuest - Connexion{% endblock %}

{% block body %}
{# Carousel #}

{{ include('_homeCarousel.html.twig') }}

{# End Carousel #}
<div class="d-flex justify-content-center align-items-center h-100 mt-3">
    <div class="col-xl-6  text-center">
        <form method="post"  class="form-inline">
            
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h2 class="h3 mb-3 font-weight-normal">Connexion</h2>
            <p class="mb-3">Merci d'entrer votre e-mail et votre mot de passe</p>

            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {{ include('front/_notice_message.html.twig') }}


            <div class=" form-floating mb-4">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus placeholder="Votre adresse mail">
                <label for="inputEmail">Email : </label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required placeholder="Votre mot de passe">
                <label for="inputPassword">Mot de passe : </label>
            </div>

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            >
            
            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
            <label>
            <input type="checkbox" name="_remember_me"> Remember me
            </label>
            </div>
            #}
            <div class="d-grid gap-2 text-center pt-1 mb-5 pb-1">
                <button class="btn btn-lg btn-primary" type="submit">
                    Connexion
                </button>
                <a class="small text-muted" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>

            <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-5 pb-lg-2">Pas encore inscrit ? <a href="{{ path('app_register') }}">C'est par ici !</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
