{% extends 'backoffice/back_base.html.twig' %}

{% block title %}{{ answer.answer }}{% endblock %}

{% block back_body %}
    <div class="d-flex flex-row-reverse bd-highlight align-items-start">
        <a href="{{ path('app_backoffice_enigma_show', {'id': answer.enigma.id}) }}" class="btn btn-outline-secondary btn-sm">Retour à la question</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Réponse</th>
                <td>{{ answer.answer }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ answer.status ? 'Bonne réponse' : 'Mauvaise réponse' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_answer_edit', {'id': answer.id}) }}" class="btn btn-primary mb-2">Modifier</a>

    {{ include('backoffice/answer/_delete_form.html.twig') }}
{% endblock %}
