{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center g-0">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <div class="card shadow">
                    <div class="card-body p-6">
                        <div class="mb-4">
                            <img src="{{ asset('assets/images/logo-icon.svg') }}" alt="" class="mb-4 logo-lost-password">
                            <h1 class="mb-1 fw-bold h3">Réinitialisez votre mot de passe</h1>
                            {% for flash_error in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger flash-notice alert-dismissible fade show" role="alert">
                                    {{ flash_error }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>

                        <div>
                            <small>
                                Veuillez renseigner votre adresse mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                            </small>
                        </div>

                        {{ form_start(requestForm) }}
                            <div class="form-error mb-3">
                                {{ form_errors(requestForm.email) }}
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_widget(requestForm.email) }}
                                {{ form_label(requestForm.email) }}
                            </div>
                            
                            <div class="mb-3 d-grid">
                                <button class="btn btn-primary">Envoyer le mail de réinitialisation</button>
                            </div>
                            <small>Retour à page de <a href="{{ path('app_login') }}">connexion</a></small>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
