{% extends 'base.html.twig' %}

{% block title %}Instance {{ instance.title }} du jeu {{ game.title }}{% endblock %}

{% block body %}

<!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">{{game.title}}</h1>
            {{ include('_breadcrumb.html.twig') }}
        </div>
    </div>
<!-- Page Header End -->

{# Flash message #}
{{ include('front/_notice_message.html.twig') }}

<div class="container m-auto">

    <div class="d-flex flex-row-reverse bd-highlight align-items-start">
        <a href="{{ path('app_backoffice_game_show', {'slug': game.slug}) }}"  class="btn btn-outline-secondary btn-sm me-3">Retourner au jeu</a>
        {{ include('backoffice/instance/_delete_form.html.twig') }}
        <a href="{{ path('app_backoffice_instance_edit', {'instanceSlug': instance.slug}) }}" class="btn btn-primary btn-sm me-3">Modifier</a>

        {% if "now"|date('c') > instance.startAt|date('c') and "now"|date('c') < instance.endAt|date('c') %}
            <a href="{{ path('app_front_instance_realtime', {'gameSlug': game.slug, 'instanceSlug': instance.slug}) }}" class="btn btn-primary btn-sm me-3">Voir les positions des joueurs</a>
        {% else %}
            <a href="{{ path('app_backoffice_instance_score', {'instanceSlug' : instance.slug}) }}" class="btn btn-primary btn-sm me-3">Voir les scores</a>

        {% endif %}

    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de l'instance</th>
                <td>{{ instance.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ instance.message }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ instance.startAt ? instance.startAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ instance.endAt ? instance.endAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
