{% extends 'backoffice/back_base.html.twig' %}

{% block title %}Liste des checkpoints du jeu {{game.title }}{% endblock %}

{% block back_body %}
    <div class="d-flex flex-column align-items-end">
        <a href="{{ path('app_backoffice_checkpoint_new', { 'gameSlug' : game.slug}) }}" class="btn btn-success">Créer un checkpoint</a>
    </div>

    <div class="clearfix"></div>

    {{ include('front/_notice_message.html.twig') }}

    <table class="table table-hover align-middle" style="text-align:center; margin-top:10px;">
        <thead class="table-dark ">
            <tr>             
                <th>Nom du checkpoint</th>
                <th>Ordre du checkpoint</th>
                <th>Crée le</th>
                <th>Mise à jour le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checkpoint in checkpoints %}
            <tr scope="row">
                <td><a href="{{ path('app_backoffice_checkpoint_show', {'id': checkpoint.id}) }}">{{ checkpoint.title }}</a></td>
                <td>{{ checkpoint.OrderCheckpoint  }}</td>
                <td>{{ checkpoint.createdAt ? checkpoint.createdAt|date('d-m-Y à H:i:s') : '' }}</td>
                <td>{{ checkpoint.updatedAt ? checkpoint.updatedAt|date('d-m-Y à H:i:s') : '' }}</td>
                <td>
                    <div class="d-grid gap-2 justify-content-md-center">
                        <a href="{{ path('app_backoffice_checkpoint_edit', {'id': checkpoint.id}) }}"class="btn btn-primary">Modifier</a>
                       {{ include('backoffice/checkpoint/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun checkpoint trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
