{% extends 'base.html.twig' %}

{% block title %}Checkpoint {{ checkpoint.title }} du jeu {{ checkpoint.game.title }}{% endblock %}

{% block body %}

{{ include('_header_start.html.twig', {'title': 'Checkpoint '~checkpoint.title~' du jeu '~checkpoint.game.title }) }}

<div class="container-xxl pb-5">
    <div class="container">
        <div class="d-flex flex-row-reverse bd-highlight align-items-start mb-3">
            <a href="{{ path('app_backoffice_game_show', {'slug': checkpoint.game.slug }) }}" class="btn btn-outline-secondary btn-sm">Retourner au jeu</a>
            {{ include('backoffice/checkpoint/_delete_form.html.twig') }}
            <a href="{{ path('app_backoffice_checkpoint_edit', {'id': checkpoint.id}) }}" class="btn btn-primary btn-sm me-3">Modifier</a>
        </div>

        <table class="table">
            <tbody>

                <tr>
                    <th>Nom du checkpoint</th>
                    <td>{{ checkpoint.title }}</td>
                </tr>
                <tr>
                    <th>Message de localisation du prochain checkpoint</th>
                    <td>{{ checkpoint.successMessage }}</td>
                </tr>
                <tr>
                    <th>Ordre du checkpoint</th>
                    <td>{{ checkpoint.orderCheckpoint }}</td>
                </tr>
                <tr>
                    <th>Créé le</th>
                    <td>{{ checkpoint.createdAt ? checkpoint.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ checkpoint.updatedAt ? checkpoint.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <div id="enigmas-cards-ic" class="d-flex bd-highlight">
            <div class="card mb-3 flex-grow-1" style="flex-basis:min-content;" >
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <h2 class="p-2 align-self-center flex-grow-1">Les énigmes</h2>
                    {% if checkpoint.unTrashedEnigmas|length == 0 %}
                        <a class="btn btn-primary m-3" href="{{ path('app_backoffice_enigma_new', {'id': checkpoint.id}) }}">Créer une énigme</a>
                    {% endif %}
                </div>
                <div class="accordion" id="ac-enigmas">
                    {% for enigma in checkpoint.unTrashedEnigmas %}
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="instance-head-{{loop.index}}">
                                <button class="accordion-button text-white bg-gradient bg-primary collapsed" 
                                type="button" data-bs-toggle="collapse" data-bs-target="#enigmas-{{loop.index}}" 
                                aria-expanded="false" 
                                aria-controls="enigmas-{{loop.index}}">
                                    Enigme {{enigma.orderEnigma}} : {{enigma.question}}
                                </button>
                            </h2>
                            <div id="enigmas-{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="enigma-head-{{loop.index}}" data-bs-parent="#ac-enigmas">
                                <div class="accordion-body">
                                    <div class="mb-3">
                                        <strong>{{enigma.question}}</strong>
                                    </div>
                                    <div class="d-flex bd-highlight align-items-start">
                                        <a href="{{ path('app_backoffice_enigma_show', {'id': enigma.id}) }}" class="btn btn-primary btn-sm me-3">Voir les propositions de réponses</a>
                                        <a href="{{ path('app_backoffice_enigma_edit',{'id': enigma.id}) }}" class="btn btn-warning btn-sm me-3">Modifier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="text-center">
            <img src="{{ asset('assets/Qrcode/'~checkpoint.id~'qrcode.png') }}" alt="QR code">
        </div>
    </div>
</div>
{% endblock %}
