{% extends 'base.html.twig' %}

{% block title %}Checkpoint index{% endblock %}

{% block body %}
    <h1>Checkpoint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>SuccessMessage</th>
                <th>OrderCheckpoint</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checkpoint in checkpoints %}
            <tr>
                <td>{{ checkpoint.id }}</td>
                <td>{{ checkpoint.title }}</td>
                <td>{{ checkpoint.successMessage }}</td>
                <td>{{ checkpoint.orderCheckpoint }}</td>
                <td>{{ checkpoint.createdAt ? checkpoint.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ checkpoint.updatedAt ? checkpoint.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('back_checkpoint_show', {'id': checkpoint.id}) }}">show</a>
                    <a href="{{ path('back_checkpoint_edit', {'id': checkpoint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_checkpoint_new') }}">Create new</a>
{% endblock %}
