{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Address</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>Image</th>
                <th>Summary</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.slug }}</td>
                <td>{{ game.address }}</td>
                <td>{{ game.postalCode }}</td>
                <td>{{ game.city }}</td>
                <td>{{ game.image }}</td>
                <td>{{ game.summary }}</td>
                <td>{{ game.status ? 'Yes' : 'No' }}</td>
                <td>{{ game.createdAt ? game.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.updatedAt ? game.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_game_new') }}">Create new</a>
{% endblock %}
