{% extends 'base.html.twig' %}

{% block title %}Mon jeu{% endblock %}

{% block body %}
    <div class="container-fluid mb-3">
        <h1>Mon jeu : {{ game.title }}</h1>

    {% for user in users %}
        <div class="card mb-3">
            <img src="{{ game.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ game.title }}</h5>
                <p class="card-text">{{ game.summary }}</p>
                <p class="card-text"><small class="text-muted">Lieu: {{ game.address }} - {{ game.postalCode }} {{ game.city }}</small></p>
                <div class="d-grid gap-2 justify-content-md-center">
                    <a href="{{ path('app_backoffice_game_edit', {'id': game.id}) }}" class="btn btn-primary">Supprimer</a>
                    <a href="{{ path('app_backoffice_update_status', {'id': game.id}) }}" class="btn {% if user.status is same as true %}btn-danger{% else %}btn-success{% endif %}" {% if user.status is same as true %}  onclick="return confirm('Êtes-vous sûr de vouloir désactiver le jeu {{game.title}} ?\nSes jeux / checkpoints / questions seront mis à la poubelle !');" {% endif %}>{% if user.status is same as false %} Activer {% else %} Désactiver {% endif %}</a>
                </div>
            </div>
        </div>
    {% endfor %}

    
                <tr>
                    <th>Statut</th>
                    <td>{{ game.status ? 'Yes' : 'No' }}</td>
                </tr>
                
            </tbody>
        </table>

        <a href="{{ path('app_backoffice_game_index') }}">Voir tous mes jeux</a>

        <a href="{{ path('app_backoffice_game_edit', {'id': game.id}) }}">modifier</a>
    <div>
{% endblock %}
