{% extends 'base.html.twig' %}

{% block title %}Mon jeu{% endblock %}

{% block body %}
    <div class="container-fluid mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ game.title }}</h1>
            <a href="{{ path('app_backoffice_game_index') }}" class="btn btn-primary mb-3">Mes jeux</a>
        </div>

        {# CARD GAME #}

        <div class="d-flex justify-content-center ">
            <div class="card mb-3">
                <img src="{{ game.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ game.title }}</h5>
                    <p class="card-text">{{ game.summary }}</p>
                    <p class="card-text"><small class="text-muted">Lieu: {{ game.address }} - {{ game.postalCode }} {{ game.city }}</small></p>
                    <div class="d-grid gap-2">
                        <a href="{{ path('app_backoffice_game_edit',{'slug': game.slug}) }}" class="btn btn-primary mb-3">Modifier</a>
                        <a href="{{ path('app_backoffice_game_index') }}" class="btn btn-primary mb-3">Mes jeux</a>
                        {{ include('backoffice/game/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

        {# END CARD GAME #}

        {# CARD CHECKPOINTS #}
        
        <div class="d-flex justify-content-center ">
            <div class="card mb-3" style="width: 100%;">
                <h2>Prochaines sessions du jeu</h2>
                {% for instance in game.instances %}
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Le {{instance.startAt|format_datetime(pattern="dd LLLL Y", locale='fr')}} de {{instance.startAt|date('H:i')}} à {{instance.endAt|date('H:i')}}, à {{game.city}}
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="">
                                    <strong>{{instance.message}}
                                </div>
                                <div class="d-grid gap-2 ">
                                    <a href="{{ path('app_backoffice_instance_edit',{'slug': instance.slug}) }}" class="btn btn-primary mb-3">Modifier</a>
                                    <a href="{{ path('app_backoffice_instance_index', {'gameSlug': game.slug}) }}" class="btn btn-primary mb-3">Voir</a>
                                    {{ include('backoffice/game/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {# END CARD CHECKPOINTS #}
    </div>
{% endblock %}
