{% extends 'base.html.twig' %}

{% block body %}

    {{ include('_header_start.html.twig', {'title': game.title}) }}

    <!-- Feature Start -->
    <div class="container-fluid bg-light px-lg-0" style="margin: 3rem 0;">
        <div class="container-xl p-5">
          <div class="section-title text-center mt-4">
            <h1 class="display-5 mb-2"> Dernière position des joueurs</h1>
            <h2 class="display-7 mb-2"> Session {{ instance.title }}, débutée le {{ instance.startAt|date('d-m-Y')}} à {{instance.startAt|date('H:i')}}</h2>
          </div>
        </div>
        <div class="container m-auto">
            <div class="card-list mt-4 ">
                <h3 class="display-7 ms-2">Derniére position des joueurs</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Checkpoint</th>
                            <th scope="col">Joueurs</th>
                        </tr>
                    </thead>
                    <tbody> 

                    {# Boucle sur les checkpoints du jeu #}

                    {% for key, value in checkpointsDatas %}     
                        <tr>
                            <td>N° {{ loop.index }} - {{ key }}</td>

                            {% if value %}
                            <td>                          
                                {% for player in value %}
                                        
                                <ul class="list-unstyled">
                                    <li>{{ player.pseudo }}</li>
                                </ul>
                            
                                {% endfor %}
                            </td>
                            {% endif %}                       
                        </tr>    
                    {% endfor %}       
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
{% endblock %}
