{% extends 'base.html.twig' %}

{% block title %}{{ instance.title }}{% endblock %}

{% block body %}

    <div class="container-fluid mb-3">
        <h1>Instance {{ instance.title }}</h1>
        <h2>Dernière position des joueurs</h2>

        <div class="row">
            <div class="col">
                <h3>Checkpoint</h3>
            </div>
            <div class="col">
                <h3>Joueurs</h3>
            </div>
        </div>

        {# Boucle sur les checkpoints du jeu #}

        {% for key, value in checkpointsDatas %}

            <div class="row">
                <div class="col">
                    <h4>N° {{ loop.index }} - {{ key }}</h4>
                </div>            
                <div class="col">
                    <ul>
                        
                        {% if value %}

                            {% for player in value %}

                                <li>{{ player.username }}</li>

                            {% endfor %}

                        {% endif %}
                        
                    </ul>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}
