{% extends 'base.html.twig' %}

{% block title %}{{ instance.title }}{% endblock %}

{% block body %}

<div class="container-xl p-5">
      <div class="row">
        <h1 class="text-muted fw-bold mb-4 text-center h1">Résultat du jeu {{game.title}}</h1>
          {{ include('front/_notice_message.html.twig') }}
      </div>  

      <div class="row">
            <h3 class="text-muted fw-bold mb-4 text-center h3">Instance {{instance.title}} du {{ instance.startAt|date('d-m-Y')}}</h3>
      </div>      

      <div class="card-list mt-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nom du joueur</th>
              <th scope="col">Temps réalisé</th>
            </tr>
          </thead>

          <tbody>
              {% for round in roundsList %}
              <tr scope="row">
                {% if round.endAt %}
                    <td>{{ round.user.username }}</td>                   
                    <td>{{ round.endAt.diff(round.startAt)|date("%Hh%Imin%Ssec") }}</td>
                {% endif %}
              {% endfor %} 
              </tr>  
          </tbody> 
        </table>          
      </div>

      <div class="card-list mt-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nom des joueurs ayant participé, mais sans terminer le parcours</th>
            </tr>
          </thead>

          <tbody>
              {% for round in roundsList %}
              <tr scope="row">
                {% if round.endAt == null %}
                    <td>{{ round.user.username }}</td>                   
                {% endif %}
              {% endfor %} 
              </tr>  
          </tbody> 
        </table>          
      </div>              
               
        

   
</div>
     
{% endblock %}  