{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">{{game.title}}</h1>
            {{ include('_breadcrumb.html.twig') }}
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-light px-lg-0" style="margin: 3rem 0;">
        <div class="container-xl p-5">
            <div class="section-title text-center mt-4">
                <h1 class="display-5 mb-2">Classement pour la session {{instance.title}}</h1> 
                <h2 class="display-7 mb-2">terminée le {{ instance.endAt|date('d-m-Y') }}</h2>  
            </div> 
        </div>  
        <div class="container m-auto">
                <div class="card-list mt-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Classement</th>
                                <th scope="col">Pseudo du joueur</th>
                                <th scope="col">Temps réalisé</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for key, duration in orderedDurations %}
                            <tr scope="row">
                                <td>{{ loop.index }}</td>
                                <td>{{ roundsList[key].user.pseudo }}</td>                   
                                <td>{{ duration }}</td>
                            {% endfor %} 
                            </tr>  
                        </tbody> 
                    </table>          
                </div>
        </div>    
                                  
        <div class="container m-auto">
            <div class="card-list mt-4">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Joueurs ayant participé, mais sans terminer le parcours</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for round in roundsList %}
                        <tr scope="row">
                        {% if round.endAt is same as(null) %}
                            <td>{{ round.user.pseudo }}</td>                   
                        {% endif %}
                        {% endfor %} 
                        </tr>  
                    </tbody> 
                </table>          
            </div>
        </div>  
  </div>                
                  
    <!-- Service End -->
{% endblock %}