{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Les scores</h1>
            {{ include('_breadcrumb.html.twig') }}
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
            <div class="container feature px-lg-0">
                        <div class="section-title text-center">
                          <h1 class="display-5 mb-2">Résultat du jeu {{game.title}}</h1> 
                          <h2 class="display-7 mb-2">Instance {{instance.title}} du {{ instance.startAt|date('d-m-Y')}}</h2>  
                        </div> 
                      <div class="section-title text-center"> 
                        <table class="table table-borderless">
                          <thead>
                            <tr>
                              <th scope="col"><h5 class="mb-0">Classement</h5></th>
                              <th scope="col"><h5 class="mb-0">Pseudo du joueur</h5></th>
                              <th scope="col"><h5 class="mb-0">Temps réalisé</h5></th>
                            </tr>
                          </thead>
                       
                        <tbody>
                        {% for key, duration in orderedDurations %}
                            <tr scope="row">
                              <td>{{ loop.index }}</td>
                              <td>{{ roundsList[key].user.pseudo }}</td>                   
                              <td>{{ duration }}</td>
                        {% endfor %} 
                            </tr>  
                        </tbody> 
                        </table>
                      </div>
              </div>                
    </div>                

                <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
                      <table class="table table-borderless">
                        <thead class="text-center">
                          <tr>
                              <th scope="col"><h5 class="mb-0">Joueurs ayant participé, mais sans terminer le parcours</h5></th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for round in roundsList %}
                          <tr scope="row">
                          <td>{{ round.user.pseudo }}dezdezz</td>  
                            {% if round.endAt is same as(null) %}
                                <td>{{ round.user.pseudo }}dezdezz</td>                   
                            {% endif %}
                            {% endfor %} 
                          </tr>  
                        </tbody> 
                      </table>
                </div>                  
                    
                   
    <div>        

    <!-- Service End -->
{% endblock %}