{% extends 'base.html.twig' %}

{% block title %}Score - {{ instance.title }}{% endblock %}

{% block body %}

    {{ include('_header_start.html.twig', {'title': instance.title}) }}

    <div class="container-fluid bg-light px-lg-0" style="margin: 3rem 0;">
        <div class="container-xl mb-5">
            <div class="section-title text-center mt-4">
                <h1 class="display-5 mb-2">Classement</h1>
                <h2>{{instance.title}}</h2>
                <h6>Session terminée le {{ instance.endAt|date('d/m/Y') }}</h6>
            </div> 
        </div>
        {# scores display #}
        <div class="container m-auto">
            <div class="table-responsive">
                <table class="table text-nowrap mb-5">
                    <thead>
                        <tr>
                            <th scope="col">Classement</th>
                            <th scope="col">Pseudo du joueur</th>
                            <th scope="col">Temps réalisé</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for key, duration in orderedDurations %}
                        <tr scope="row">
                            <td>{{ loop.index }}</td>
                            <td>{{ roundsList[key].user.pseudo }}</td>                   
                            <td>{{ duration }}</td>
                        {% endfor %} 
                        </tr>  
                    </tbody> 
                </table>          
            </div>
        </div>  
        {# players for not finished rounds display #}
        {% if notFinishedRounds %}
        <div class="container m-auto">
            <div class="table-responsive">
                <table class="table text-nowrap mb-5">
                    <thead>
                        <tr>
                            <th scope="col">Liste des joueurs ayant participé, mais sans terminer le parcours</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for round in notFinishedRounds %}
                        <tr scope="row">
                            <td>{{ round.user.pseudo }}</td>                   
                        </tr>
                        {% endfor %}   
                    </tbody> 
                </table>
            </div>             
        </div> 
        {% endif %} 
    </div>                
{% endblock %}