{% extends 'base.html.twig' %}

{% block title %}Checkpoint {{ checkpoint.title }}{% endblock %}

{% block body %}

{{ include('_header_start.html.twig', {'title': 'Checkpoint '~checkpoint.title }) }}
<div class="container-xxl pb-5">
    <div class="container">

        {% if enigma is same as null %}
            <section class="w-100 p-4 text-center pb-4">
                <div class="pb-4">
                    {{message}}
                    <br />
                    {% if checkpoint.successImage is not same as null %}
                        <a href="{{ asset(app_checkpoints_images_directory~checkpoint.successImage) }}" data-lightbox="{{checkpoint.title}}"><img src="{{ asset(app_checkpoints_images_directory~checkpoint.successImage) }}" alt="{{checkpoint.title}}" style="max-width: 400px;max-height: 400px;"/></a>
                    {% endif %}
                </div>
                <div>
                    <a href="{{ path('app_front_instance_realtime', {'gameSlug' : instance.game.slug, 'instanceSlug' : instance.slug}) }}" class="btn btn-primary btn-sm me-3">Voir la dernière position des joueurs</a>
                    <a href="{{ path('front_checkpoint') }}" class="btn btn-primary btn-sm me-3">Retour au scanner de QR codes</a>
                </div>
            </section>
        {% else %}
            <h3 class=" text-center">{{enigma.question}}</h3>
            <section class="w-100 p-4 d-flex justify-content-center pb-4">
                <form method="post" action="{{ path('front_checkpoint_response', {'id': enigma.id}) }}">
                    {% for answer in enigma.unTrashedAnswers %}
                        <div class="form-check form-switch mb-3">
                            <input type="radio" id="{{ answer.id }}" name="enigma-{{enigma.id}}" value="{{ answer.answer }}" class="form-check-input" />
                            <label for="{{ answer.id }}" class="form-check-label">{{ answer.answer }}</label>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="_token" value="{{ csrf_token('response' ~ enigma.id) }}">
                    <button class="btn btn-success text-center">Envoyer</button>
                </form>
            </section>
        {% endif %}
    </div>
</div>



{% endblock %}
