<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}YourQuest{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>


    </head>

    <body>

        <div class="container">
        
            <header>

                {# Navbar #}

                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #C36839">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{ path('front_main') }}">YourQuest</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('front_main') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Liste des jeux</a>
                                </li>
                                {% if app.user is not defined %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if app.user %}
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown">
                                            <span>{{ app.user.username }} ({{ app.user.role.name }})</span>
                                            <i class="bi bi-person-square"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Profil</a></li>
                                            {% if is_granted("ROLE_ORGANISATEUR") %}
                                                <li><a class="dropdown-item" href="#">Backoffice</a></li>
                                            {% endif %}
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="btn me-2">Se connecter</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>

                {# End Navbar #}

            </header>

            {% block body %}{% endblock %}

            <footer>

                {# Navbar Footer #}

                <div class="row align-items-start mt-3">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#">CGV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                {# End Navbar Footer #}

                <div class="row align-items-start mt-3">
                    <div class="col text-center">
                            Tout droits réservés
                    </div>
                </div>

            </footer>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>
