<div>

    <img height="64" src="{{ absolute_url(asset('assets/images/logo-h64-AB7442.png')) }}" alt="YourQuest" />

    <p>Bonjour,</p>

    <p>Un utilisateur a utilisé le formulaire de contact :</p>

        <ul>
            <li>Nom : {{name}}</li>
            <li>Email : {{contact_email}}</li>
            <li>Sujet : {{subject}}</li>
            <li>Message :</li>
        </ul>

    <p>{{message}}</p>



</div>
