<div>

    <img height="64" src="{{ absolute_url(asset('assets/images/logo-h64-AB7442.png')) }}" alt="YourQuest" />

    <h1>Bonjour,</h1>

    <p>Un utilisateur a cherché à vous contacter : 
        <ul>
            <li>Nom : {{name}}</li>
            <li>Email : {{contact_email}}</li>
            <li>Sujet : {{subject}}</li>
            <li>Message : 
                <p>
                {{message}}
                </p>
            </li>
        </ul>
    
    </p>
    <p>Cordialement</p>
</div>
