{% extends 'base.html.twig' %}

{% block title %}YourQuest{% endblock %}

{% block body %}

    {# Message d'alerte #}
    {{ include('front/_notice_message.html.twig') }}
    {# End message d'alerte #}

    {# Carousel #}

    {{ include('_homeCarousel.html.twig') }}

    {# End Carousel #}

    {# Presentation #}
    <div class="align-items-start mt-3">
        <div class="col">
            <div class="container flex-column align-items-center d-flex justify-content-evenly" style="height: 600px;">
                <h2>Bienvenue sur YourQuest! </h2>
                
                <div>
                Entrez dans une aventure connectée en créant votre jeu de piste dans le monde réel.
                </div>

                <a href="{{ path('front_message')}}" type="button" class="btn btn-lg btn-primary fw-bold"> Créer votre jeu </a>
               
            </div>
        </div>
    </div>
    {# End Presentation #}

    {# Next Games #}

    <div class="container-xl mt-3 mb-3">
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner carousel-inner-multiple" role="listbox">
                    {% for game in games %}
                        <div class="carousel-item">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="{{ asset(app_games_images_directory~game.image) }}" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{{ path('front_games_show', {'slug' : game.slug}) }}">{{ game.title }}</a></h5>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">{{ game.createdAt|date('d/m/Y') }} - {{ game.city }} ({{ game.postalCode }})</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--<a class="carousel-control-prev bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>-->
            </div>
        </div>
    </div>

    {# End Next Games #}
    
{% endblock %}
