{% extends 'base.html.twig' %}

{% block body %}

    {{ include('_header_start.html.twig', {'title': 'Les jeux'}) }}

    <!-- Service Start -->
    {% set delay = [0.1, 0.3, 0.5] %}
    <div class="container-xxl pb-5">
        <div class="container">
            <div class="row g-4">
                {% for game in games %}
                    {% set counter = ( counter | default(-1) ) + 1 %}
                    {% if counter == 3 %}
                        {% set counter = 0 %}
                    {% endif %}
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="{{delay[counter]~'s'}}">
                        <div class="service-item">
                            <div class="overflow-hidden align-img">
                                <img class="img-fluid" src="{{ asset(app_games_images_directory~game.image) }}" alt="{{game.slug}}">
                            </div>
                            <div class="p-4 text-center border border-5 border-light border-top-0">
                                <h4>{{ game.title }}</h4>
                                <div class="small mb-3">
                                    <address class="mb-0">
                                        <i class="bi bi-house-fill me-2"></i><a href="http://maps.google.com/?q={{ game.address }} {{ game.postalCode }} {{ game.city }}" target="_blank">{{ game.address }} {{ game.postalCode }} {{ game.city }}</a>
                                    </address>
                                </div>
                                <p>{{ game.summary|u.truncate(80, '...', false)}}</p>
                                <a class="fw-medium" href="{{ path('front_games_show', {'slug' : game.slug}) }}">Accéder au jeu<i class="fa fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ include('_paginate.html.twig') }}
        </div>
    </div>
    <!-- Service End -->
{% endblock %}
