{% extends 'base.html.twig' %}

{% block body %}
<div class="container-xl p-5">
    <div class="row">
        <h1 class="text-muted fw-bold mb-4 text-center h1">{{game.title}}</h1>
        
        <small>
            Créé le : 
            <time datetime="{{game.createdAt|date('c')}}">
                {{game.createdAt|format_datetime(pattern="dd LLLL Y", locale='{{app_default_local}}')}}
            </time>
        </small>
    </div>

    <div class="row">
        <img src="{{ asset(app_games_images_directory~game.image) }}" alt="{{game.slug}}" />
    </div>

    <div class="row mt-2">
        <p>
            {{game.summary}}
        </p>
    </div>

    {% if next_instances is not empty %}
        {{ include ('front/game/_instance_card.html.twig', {"instances": next_instances, "title": "Prochaines instances de jeu"} ) }}
    {% endif %}

    {% if previous_instances is not empty %}
        {{ include ('front/game/_instance_card.html.twig', {"instances": previous_instances, "title": "Anciennes instances de jeu"} ) }}
    {% endif %}

</div>
{% endblock %}
