{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_header_start.html.twig', {'title': game.title}) }}

    <!-- Feature Start -->
    <div class="container-fluid bg-light px-lg-0" style="margin: 3rem 0;">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <div class="section-title text-start">
                            <h1 class="display-5 mb-4">{{game.title}}</h1>
                        </div>
                        <p class="mb-4 pb-2">{{game.summary | nl2br}}</p>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100 d-flex align-items-center">
                        <img class="position-absolute img-fluid w-100" src="{{ asset(app_games_images_directory~game.image) }}" style="object-fit: cover;max-height: 100%;" alt="{{game.slug}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    {% if next_instances is not empty %}
        {{ include ('front/game/_instance_card.html.twig', {"instances": next_instances|reverse, "title": "Prochaines sessions de jeu", "label": "next"} ) }}
    {% endif %}

    {% if previous_instances is not empty %}
        {{ include ('front/game/_instance_card.html.twig', {"instances": previous_instances, "title": "Anciennes sessions de jeu", "label": "prev"} ) }}
    {% endif %}


{% endblock %}
