{% set delay = [0.1, 0.3, 0.5] %}
    <div class="container-xxl py-5">
        <div class="container">
        <h2>Mes parties</h2> 
            <div class="row g-4">
            {% for round in rounds %}                
                {% set counter = ( counter | default(-1) ) + 1 %}
                {% if counter == 3 %}
                    {% set counter = 0 %}
                {% endif %}

                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="{{delay[counter]~'s'}}">
                    <div class="service-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ asset(app_games_images_directory~round.instance.game.image) }}" alt="{{round.instance.game.slug}}">
                        </div>
                        <div class="p-4 text-center border border-5 border-light border-top-0">

                            <h4><a class="fw-medium" href="{{ path('app_front_instance_show', {'gameSlug': round.instance.game.slug , 'instanceSlug': round.instance.slug}) }}">{{ round.instance.title }}</a></h4>
                    
                                {% if round.endAt is same as null and "now"|date('Y-m-d') > round.instance.startAt|date('Y-m-d') and "now"|date('Y-m-d') < round.instance.endAt|date('Y-m-d') and round.endAt is same as null %}
                                    <span class="badge bg-danger ms-2">Session cours</span>
                                {% endif %}

                                {% if round.endAt is not same as null %}
                                    <div class="small mb-3">
                                        <address class="mb-0">
                                            <p class="card-text">La partie s'est finie le {{ round.endAt|format_datetime(pattern="dd LLLL Y", locale='fr')}}, à {{ round.instance.game.city }} ({{ round.instance.game.postalCode }}).</p>
                                            <p> <b>Tu as fini le jeu en {{ round.endAt.diff(round.startAt)|date("%Hh%Imin%Ssec") }} </b></p>
                                        </address>
                                    </div>
                                    <a class="fw-medium" href="{{ path('app_front_instance_score', {'gameSlug': round.instance.game.slug , 'instanceSlug': round.instance.slug}) }}">Voir le classement<i class="fa fa-arrow-right ms-2"></i></a>
                                {% elseif "now"|date('c') > round.instance.startAt|date('c') and "now"|date('Y-m-d') < round.instance.endAt|date('c') and round.endAt is same as null %}
                                    <div class="small mb-3">
                                        <address class="mb-0">
                                            <p class="card-text">La partie est en cours, tu n'as pas encore terminé, tu peux revoir ton dernier indicie <a href="{{ path('front_checkpoint_check', {'id': round.lastScanAt.checkpoint.id , 'token': round.lastScanAt.checkpoint.title | sha1 }) }}">ici</a></p>
                                        </address>
                                    </div>
                                    <p>{{ round.instance.game.summary|u.truncate(80, '...', false)}}</p>
                                    <a class="fw-medium" href="{{ path('app_front_instance_realtime', {'gameSlug': round.instance.game.slug , 'instanceSlug': round.instance.slug}) }}">Voir le classement<i class="fa fa-arrow-right ms-2"></i></a>
                                {% elseif "now"|date('Y-m-d') > round.instance.endAt|date('c') and round.endAt is same as null %}
                                    <div class="small mb-3">
                                        <address class="mb-0">
                                            <p class="card-text">La partie est terminée, malheureusement tu n'es pas allé jusqu'au bout</p>
                                        </address>
                                    </div>
                                    <p>{{ round.instance.game.summary}}</p>
                                    <a class="fw-medium" href="{{ path('app_front_instance_score', {'gameSlug': round.instance.game.slug , 'instanceSlug': round.instance.slug}) }}">Voir le classement<i class="fa fa-arrow-right ms-2"></i></a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex align-items-center p-2 bd-highlight">Vous n'avez pas encore joué !</div>
            {% endfor %}
            </div>
            {{ include('_paginate.html.twig') }}
        </div>
    </div>