{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {{ include('_header_start.html.twig', {'title': 'Votre profil'}) }}
    <div class="d-flex flex-column" >
        <div class="d-flex mobile-profile">
        {% if user.image is same as null %}
            <div>
                <img src="{{ asset(app_profile_images_directory~'default.png') }}" class="img-profile" alt="default" >
            </div>
        {% else %}
            <div>
                <img src="{{ asset(app_profile_images_directory~user.image) }}" class="img-profile" alt="{{ user.image }}" >
            </div>
        {% endif %}
            <div class="col-xl-6 text-center">
                {{ form_start(form) }}
                    <div class="form-error mb-3">
                        {{ form_errors(form.image) }}
                        {{ form_errors(form.password) }}
                        {{ form_errors(form.pseudo) }}
                        {{ form_errors(form.lastname) }}
                        {{ form_errors(form.firstname) }}
                        {% if is_granted('ROLE_ORGANISATEUR') %}
                            {{ form_errors(form.address) }}
                            {{ form_errors(form.postalCode) }}
                            {{ form_errors(form.city) }}
                        {% endif %}
                    </div>

                    <div class="profile-informations">
                        <div class="profile col form-floating mb-3">
                            {{ form_widget(form.pseudo) }}
                            {{ form_label(form.pseudo) }}
                        </div>

                        <div class="profile col form-floating mb-3">
                            {{ form_widget(form.password) }}
                            {{ form_label(form.password) }}
                        </div>
                    </div>

                    <div class="profile-informations">
                        <div class="profile col form-floating mb-3">
                            {{ form_widget(form.lastname) }}
                            {{ form_label(form.lastname) }}
                        </div>

                        <div class="profile col form-floating mb-3">
                            {{ form_widget(form.firstname) }}
                            {{ form_label(form.firstname) }}
                        </div>
                    </div>
                    <div class="col form-floating mb-3">
                        {{ form_widget(form.image) }}
                        {{ form_label(form.image) }}
                    </div>

                    {% if is_granted('ROLE_ORGANISATEUR') %}
                        <div class="form-floating mb-3">
                            {{ form_widget(form.address) }}
                            {{ form_label(form.address) }}
                        </div>

                        <div class="form-floating mb-3">
                            {{ form_widget(form.postalCode) }}
                            {{ form_label(form.postalCode) }}
                        </div>

                        <div class="form-floating mb-3">
                            {{ form_widget(form.city) }}
                            {{ form_label(form.city) }}
                        </div>
                    {% endif %}
                        
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{# {% if next_rounds is not empty %}
    {{ include ('front/user/_instance_card.html.twig', {"roundss": next_rounds|reverse, "title": "Prochaines sessions de jeu", "label": "next"} ) }}
{% endif %}

{% if previous_rounds is not empty %}
    {{ include ('front/user/_instance_card.html.twig', {"roundss": previous_rounds, "title": "Anciennes sessions de jeu", "label": "prev"} ) }}
{% endif %} #}
    {{ include('front/user/_game_card.html.twig') }}
</div>

{% endblock %}
